# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ElenSoft.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\works\ElenSoft\.idea\.idea.ElenSoft\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
